* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #f5f1e8;
}

.titulo {
    padding: 40px 20px;
    text-align: center;
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: #8c7d62;
    padding: 10px 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 15px 20px;
    color: white;
    font-weight: bold;
    display: block;
}

.contenido {
    width: 80%;
    margin: 30px auto;
}

.piedepagina {
    background-color: #4f432e;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
}
